{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h4 style="color:green">Log In To StemPro Account</h4>
      <hr />
      <form method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="submit" style="margin-top:20px; margin-bottom:20px;" class="form-control col-sm-12 smbtn btn-primary" value="Login" />
      </form>

      <div>
        <a style="color:black; float:right" class="nav-item nav-link" href="#">or Forgot Password</a>
        <a style="color:black; float:right" class="nav-item nav-link" href="{% url 'signup' %}">Don't have an account? Sign Up</a>
      <div>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>
{% endblock %}
