body {
  font-family: "Times New Roman", Times, serif;
}

button:focus {
  outline:0;
}

.signup_class {
  line-height: 0.9em;
}

.slider {
  width: 600px;
  height: 300px;
  border-style: solid;
  border-color: gray;
  background: url("/staticfiles/image/seattle.jpg");
}

.recommend {
  position: relative;
  top: 200px;
  left: 20px;
  color: white;
}

.myspace {
   margin-top: 10px;
}

.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.menu-item a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.myshadow {
  margin: 20px;
  text-shadow: 2px 2px 5px blue;
}

p {
  font-size: 10px;
  font-style: oblique;
}

#anima {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#anima img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#anima img.top:hover {
  opacity:0;
}

#test {
  width: 100px;
  height: 100px;
  background-color: red;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}
