{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h4>Abstract</h4>
    </div>

    <p>Content</p>
    <div class="row">
    {% for instance in object_list %}
      <div class='col-md-12'>
        <hr />
      </div>
      <div class='col-md-3'>
        {{instance.name}}
      </div>
      <div class='col-md-3'>
        {{instance.regular_fee}}
      </div>
      <div class='col-md-3'>
        {{instance.start_date}}
      </div>
      <div class='col-md-3'>
        <a href="{% url 'confirm' %}?name={{instance.name}}&type=involved" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Register Now</a>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
