{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <p>From SIRI to self-driving cars, artificial intelligence (AI) is progressing rapidly. We can say AI will replace human work. Are you get ready for this situation? We are service for you, education is a key to success.</p>
    <br />
    <div class="row">
    {% for instance in object_list %}
      <div class='col-md-12'>
        <hr />
      </div>
      <div class='col-md-3'>
        {{instance.name}}
      </div>
      {% if instance.regular_fee is not None %}
      <div class='col-md-3'>
        {{instance.regular_fee}}
      </div>
      {% endif %}
      <div class='col-md-3'>
        {{instance.start_date}}
      </div>
      <div class='col-md-3'>
        <a href="{% url 'confirm' %}?name={{instance.name}}&type=involved" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Register Now</a>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
