{% extends 'base.html' %}
{% load static %}
{% block title %}Donate{% endblock %}

{% block content %}
<div class="container">
<img src="{% static 'image/donate.png' %}" alt="Smiley face" height="400px" width="100%%">
<h2>DONATE US</h2>
<p style="font-style:italic">
StemPro is a national 501(c)(3) non-profit organization whose mission is "to improve students' academic performance and inspire their STEM leadership in the real world." All contributions will go towards our projects for helping students and families. Your contribution will be tax deductible and often matched by your employers. Companies like Google, Microsoft, Boeing, Expedia, and more, all will match your kind donation.</P>
<p style="font-style:italic">
To donate by Paypal, simply click PaypalMe and enter the dollar amount you'd like to donate.  Please tell us in the note where we should send the donation receipt, or whether your contribution should go to any specific program.
</p>
<h2>WE APPRECIATE YOUR SUPPORT!</h2>
<p style="font-style:italic">PaypalMe: https://www.paypal.me/stemproacademy (link) STEMPRO ACADEMY EIN: 82-4660314 </P>
</div> 
<br />
{% endblock %}