{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div id="main">
  <div id="slider">
    <div id="box">
      <img class='image' src="{% static 'image/seattle.jpg' %}" height='400px' alt="Smiley face">
      <img class='image' src="{% static 'image/seattle.jpg' %}" height='400px' alt="Smiley face">
      <img class='image' src="{% static 'image/seattle.jpg' %}" height='400px' alt="Smiley face">
      <img class='image' src="{% static 'image/seattle.jpg' %}" height='400px' alt="Smiley face">
    </div>  
  </div>

  <br />
  <div class="row" style="padding-top:20px;">
    <div class="col-md-4 text-center">
    <div style="margin-left:10px; margin-right:10px; padding-top:10px; background: #FFFAF0; height:500px;">
    <div>
      <img src="{% static 'image/home-tutoring.png' %}" alt="Smiley face" height="auto" width="100%%">
      <div style="padding-top:30px;">
        <h3>TUTORING</h3>
        <p onclick="location.href='users/group'" style="cursor: pointer;" >Group tutoring</p>
        <p onclick="location.href='users/one'" style="cursor:pointer;">One-on-one tutoring</p>
        <p onclick="location.href='users/testpre'" style="cursor:pointer;">Test-Prep tutoring</p>
      </div>
    </div>
    </div>
    </div>
    <div class="col-md-4 text-center">
    <div style="margin-left:10px; margin-right:10px; padding-top:10px; background: #FFFAF0; height:500px">
    <div>
      <img src="{% static 'image/home-class.png' %}" alt="Smiley face" height="auto" width="100%%">
      <div style="padding-top:30px;">    
        <h3>CLASSES</h3>
        <p onclick="location.href='users/enrichment'" style="cursor:pointer;">PIE AND CONE STEM ENRICHMENT</p>
        <p onclick="location.href='users/math_1'" style="cursor:pointer;">MATH COMPETITION CLASS I</p>
        <p onclick="location.href='users/math_2'" style="cursor:pointer;">MATH COMPETITION CLASS II</p>
        <p onclick="location.href='users/math_3'" style="cursor:pointer;">MATH COMPETITION CLASS III</p>
      </div>
    </div>
    </div>
    </div>
    <div class="col-md-4 text-center">
    <div style="margin-left:10px; margin-right:10px; padding-top:10px; background: #FFFAF0; height:500px;">
    <div>
      <img src="{% static 'image/home-program.png' %}" alt="Smiley face" height="auto" width="100%%">
      <div style="padding-top:30px;">
        <h3>PROGRAMS</h3>
        <p onclick="location.href='users/leader'" style="cursor:pointer;">STEM-Leadership program</p>
        <p onclick="location.href='users/entrepreneur'" style="cursor:pointer;">IMO Math Club</p>
        <p onclick="location.href='users/intern'" style="cursor:pointer;">High school Internship program</p>
      </div>
    </div>
    </div>
    </div>
  <div>

  <!--form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type = "submit" class="btn btn-info" value="Subscribe Now" />
  </form-->


  
  <!--br />
  <h4>Subscribe to Our Newsletter!</h4>
  <form method="POST">
    {% csrf_token %}
    <div class='row'>
    {% for field in form %}
      <div class="col-sm-6 col-md-3">
      {{ field }}
      </div>
    {% endfor %}
    <div "col-sm-6 col-md-3">
      <input type = "submit" class="btn btn-info" value="Subscribe Now" />
    </div>
    </div>
  </form -->

  <!--div class="row">
    <form method
    <div class="col-sm-6 col-md-3">
      <input type="text" class="form-control" placeholder="Enter your email here*" />
    </div>
    <div "col-sm-6 col-md-3">
      <input type"submit" class="btn btn-info" value="Subscribe Now" />
    </div>
  <div-->
</div>
<br />

<script type="text/javascript">
jQuery(document).ready(function() {
    if (window.innerWidth) {
      var w = 1200;
      var x = (window.innerWidth - 1200) / 2;
      $('#main').css( { "margin-left" : x } );
      $('#main').css( { "margin-right" : x } );
      $('.image').width(w);
      $('#box').width(w * 4);
      $('#slider').width(w);

      //or however you get a handle to the IMG
      //var width = img.clientWidth;
      /*
              if (window.innerWidth > 1320) {
                  var x = (window.innerWidth - 1320) / 2;
                  console.log(window.innerWidth);
                  console.log(left);
                  $('#slider').css( { "margin-left" : left } );
              }
      */       
     }  
});

$(window).resize(function() {
  //resize just happened, pixels changed
  var w = 1200;
  var x = (window.innerWidth - 1200) / 2;
  $('#main').css( { "margin-left" : x } );
  $('#main').css( { "margin-right" : x } );
  $('.image').width(w);
  $('#box').width(w * 4);
  $('#slider').width(w);
});
</script>


{% endblock %}
<!-->
document.getElementById("tunnel").animate([
  // keyframes
  { transform: 'translateY(0px)' }, 
  { transform: 'translateY(-300px)' }
], { 
  // timing options
  duration: 1000,
  iterations: Infinity
});

$(document).ready(function(){
  $("#btn1").click(function(){
    $("#box").animate({height: "300px"});
  });
  $("#btn2").click(function(){
    $("#box").animate({height: "100px"});
  });
});
<-->
