{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <img src="{% static 'image/seattle.jpg' %}" alt="Smiley face" height="400px" style="border-style: solid; border-color: gray;"  width="100%%">
  <br />
  <div class="row" style="padding-top:20px;">
    <div onclick="location.href='users/mission'" class="col-md-4 text-center">
    <div style="margin-left:10px; margin-right:10px; padding-top:10px; background: #FFFAF0; height:500px;">
    <div>
      <img src="{% static 'image/home-tutoring.png' %}" alt="Smiley face" height="auto" width="100%%">
      <div style="padding-top:30px;">
        <h3>TUTORING</h3>
        <p>Group tutoring</p>
        <p>One-on-one tutoring</p>
        <p>Test-Prep tutoring</p>
      </div>
    </div>
    </div>
    </div>
    <div class="col-md-4 text-center">
    <div style="margin-left:10px; margin-right:10px; padding-top:10px; background: #FFFAF0; height:500px">
    <div>
      <img src="{% static 'image/home-class.png' %}" alt="Smiley face" height="auto" width="100%%">
      <div style="padding-top:30px;">    
        <h3>CLASSES</h3>
        <p>PIE AND CONE STEM ENRICHMENT</p>
        <p>MATH COMPETITION CLASS I</p>
        <p>MATH COMPETITION CLASS II</p>
        <p>MATH COMPETITION CLASS III</p>
      </div>
    </div>
    </div>
    </div>
    <div class="col-md-4 text-center">
    <div style="margin-left:10px; margin-right:10px; padding-top:10px; background: #FFFAF0; height:500px;">
    <div>
      <img src="{% static 'image/home-program.png' %}" alt="Smiley face" height="auto" width="100%%">
      <div style="padding-top:30px;">
        <h3>PROGRAMS</h3>
        <p>STEM-Leadership program</p>
        <p>IMO Math Club</p>
        <p>High school Internship program</p>
      </div>
    </div>
    </div>
    </div>
  <div>

  <!--form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type = "submit" class="btn btn-info" value="Subscribe Now" />
  </form-->


  
  <!--br />
  <h4>Subscribe to Our Newsletter!</h4>
  <form method="POST">
    {% csrf_token %}
    <div class='row'>
    {% for field in form %}
      <div class="col-sm-6 col-md-3">
      {{ field }}
      </div>
    {% endfor %}
    <div "col-sm-6 col-md-3">
      <input type = "submit" class="btn btn-info" value="Subscribe Now" />
    </div>
    </div>
  </form -->

  <!--div class="row">
    <form method
    <div class="col-sm-6 col-md-3">
      <input type="text" class="form-control" placeholder="Enter your email here*" />
    </div>
    <div "col-sm-6 col-md-3">
      <input type"submit" class="btn btn-info" value="Subscribe Now" />
    </div>
  <div-->
</div>
<br />
{% endblock %}
