{% extends 'base.html' %}
{% load static %}
{% block title %}Internship{% endblock %}

{% block content %}
<div class="container">
  <div style="width:100%%">
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-6" style="margin-top:0px">
            <h4>INTERNSHIP PREPARATION</h4>
        </div>
        <div class="col-sm-6">
        <img src="{% static 'image/internship.png' %}" alt="Smiley face" height="400px" width="100%%">
        </div>        
    </div>
  </div>
</div>
{% endblock %}