{% extends 'base.html' %}
{% load static %}
{% block title %}Math Competition III{% endblock %}

{% block content %}
<div class="container">
  <img src="{% static 'image/leadship.png' %}" alt="Smiley face" height="500px" style="border-style: solid; border-color: gray;"  width="100%%">
  <br />
  <div class="row">
    <div class="col-md-6" style="margin-top:30px">
      <h4>Math Competition III</h4>
      <p>High School Math Competition is the top-level math competition class in our system. The goal of this program is to polish and refine the abilities of students who have a passion for math and who have built a strong math skill sets, with the view of attending national and international mathematical competitions. It requires intellectual agility, mathematical depth, rigor, and creativity, which are the important qualities of the players in the AMC 8, AMC 10 and AMC 12, and higher AIME, US(J)AMO and USAMO.</P>
      <p>Our group of instructors will consist of former IMO champions and experienced math instructors. This team will be comprised of the strongest StemPro students and advanced students, and will have a highly selective admissions process. Every week, our competitors will take one intensive class and one training lab. (Online classes+lab)</p>
    </div>
    <div class="col-md-6" style="margin-top:30px">
      <form method="POST">
        <div class="text-center">
        <h4>Get Start today!</h4>
        </div>
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
          <div class='col-sm-4 myspace'>{{ field.label_tag }}</div>
          <div class="col-sm-6 myspace">{{ field }}</div>
          <div class="col-sm-2 myspace"></div>
        </div>
        {% endfor %}
        <div class="text-center", style="padding-top: 10px;">
           <input type = "submit" class="btn btn-info" value="Register Now" />
        </div>
      </form>    
    </div>
  </div>
</div>
{% endblock %}
