{% extends 'base.html' %}
{% load static %}
{% block title %}Math Competition II{% endblock %}

{% block content %}
<div class="container">
  <img src="{% static 'image/leadship.png' %}" alt="Smiley face" height="500px" style="border-style: solid; border-color: gray;"  width="100%%">
  <br />
  <div class="row">
    <div class="col-md-6" style="margin-top:30px">
      <h4>Math Competition II</h4>
      <p>The goals of this program are to fully prepare middle school children incoming high school STEM learning, especially math learning. In this program, children are trained not only on how to solve challenging math/science problems; more importantly, they are guided to develop important reasoning and sense making skills, which are critical for next phase STEM and math learning. Past competition winners and guest teachers are also here to inspire and broaden childrens’ vision. Plan to participate: AMC8, Math is Cool, Mathcount, Math Olympiad, and Washington State Mathematics Championship in Blaine, Science Bowl (optional, depends on availability), among others.</p>
    </div>
    <div class="col-md-6" style="margin-top:30px">
      <form method="POST">
        <div class="text-center">
        <h4>Get Start today!</h4>
        </div>
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
          <div class='col-sm-4 myspace'>{{ field.label_tag }}</div>
          <div class="col-sm-6 myspace">{{ field }}</div>
          <div class="col-sm-2 myspace"></div>
        </div>
        {% endfor %}
        <div class="text-center", style="padding-top: 10px;">
           <input type = "submit" class="btn btn-info" value="Register Now" />
        </div>
      </form>    
    </div>
  </div>
</div>
{% endblock %}
