
{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
<img src="{% static 'image/mission.png' %}" alt="Smiley face" height="400px" width="100%%">
<h1>OUR MISSION</h1>
<p>
As a nonprofit organization that is founded by a group of parents, engineers, and educators, StemPro believes that education is about “Everything in IT”. 
</P>
<ul>
<li>
It is about know how to solve problems; more about how to gather information and formulate problems
</li>

<li>
It is about learn; more about being inspired to learn and growing curiosity
</li>
<li>
It is about high score; more about a sound ground for future growth
</li>
<li> 
It is about age and grade; more about level of understanding and learning capability
​</li>
</ul>
<p>
StemPro Academy is run by Pro-Club, a group of volunteering professionals and education enthusiast.
</p>
<p>
In StemPro Academy, we agree that a strong STEM education - one that results in the skills and mindsets and opens the door for lifelong learning - starts as early as preschool, is culturally responsive, employs problem- and inquiry-based approaches, and engages students in hands-on activities that offer opportunities to interact with Stem professionals. 
</P>
<p>
At StemPro Academy, our volunteering Stem professionals are passionate in inspiring and strengthening the Stem mindset for our next generation. Combining versatile expertises and life experiences, our Pro-Club professionals have compiled very effective and fun curriculums.
</p>
<p>
Through variety types of program and high-quality faculty, we offer a series of comprehensive subjects for our students and their family, and deliver preparedness for the ever changing, multidirectional world.
</p>
</div> 
<br />
{% endblock %}
