{% extends 'base.html' %}
{% load static %}
{% block title %}Pre-Club{% endblock %}

{% block content %}
<div class="container">
  <div style="width:100%%">
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-6" style="margin-top:0px">
            <h4 style="color:blue">PRO-CLUB</h4>
            <p style="font-size:16px; text-align: justify;">StemPro’s Pro-Club is a group of professionals and education enthusiast in different areas from different background helping students to build solid and well-rounded Stem skills for lifetime learning and career.</p>
            <h5>☞ What Happens after I Join the Pro-Club?</h5>    
            <p style="font-size:16px; text-align: justify;">Welcome! After you join Pro-Club, based on your strength, passion and availabilities, we will recommend you  “a pile of cones and pies” for you to choose from, together with our preferred formats and styles of delivering and sharing to our children. This will assure that our students will be guided and taught in a consistent way. And, of course, we always look forward to your suggestions!</p>
            <h5>☞ WHO CAN JOIN?</h5>
            <p style="font-size:16px; text-align: justify;">We appreciate your desire and passion to join us to help our next generation! Everyone is a professional and anyone can help!
               If you:
               1) Have passions in helping the young generation and/or
               2) Are fun and role model (in kids’ eyes :) and/or
               3). Are open minded
               Then, together with Pro-Club,  you are ready to make a difference!
            </p>
            <h5>☞ HOW TO JOIN?</h5>
            <p style="font-size:16px; text-align: justify;">Register on our website or contact us. In the register form, other than your interests, your availability and your basic information, please also try your best to complete the questionnaire. This questionnaire helps to better utilize your expertise and passion.</p>
        </div>
        <div class="col-sm-6">
        <img src="{% static 'image/preclub.png' %}" alt="Smiley face" height="400px" width="100%%">
        </div>        
    </div>
  </div>
</div>
{% endblock %}