{% extends 'base.html' %}
{% load static %}
{% block title %}Stempro Enrichment{% endblock %}

{% block content %}
<div class="container">
  <img src="{% static 'image/enrichment.png' %}" alt="Smiley face" height="500px" width="100%%">
  <br />
  <div class="row">
    <div class="col-md-6" style="margin-top:30px">
      <h4 style="color:blue">Stempro Enrichment</h4>
      <p style="font-size:16px; text-align: justify;">This is a comprehensive STEM club that combines the exploration and learning of different STEM subjects, such as mathematics, computer science, and engineering. This program focuses on discovering the students’ interests, cultivating their abilities, and developing their potential. It is a perfect fit for elementary school 1 st through 3rd graders.</p>
      <p style="font-size:16px; text-align: justify;">We create a profile for every student. All of their interests, performance and growth will be recorded, analyzed, and shared with parents. As the students progress, parents may start to see their kids bringing home finished projects and talking about various topics related to today’s technology. They may also share how they work within their STEM team and how they make friends. With every student’s unique growth, we will focus on and encourage their individual talents and strengths, with the goal of preparing them for next developmental steps. This will all be done in close collaboration with the parents.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5" style="margin-top:30px">
      <form method="POST">
        <div class="text-center">
        <h4>Get Start today!</h4>
        </div>
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
          <div class='col-sm-4 myspace'>{{ field.label_tag }}</div>
          <div class="col-sm-6 myspace">{{ field }}</div>
          <div class="col-sm-2 myspace"></div>
        </div>
        {% endfor %}
        <div class="text-center", style="padding-top: 10px;">
           <input type = "submit" class="btn btn-info" value="Register Now" />
        </div>
      </form>    
    </div>
  </div>
</div>
{% endblock %}