{% extends 'base.html' %}
{% load static %}
{% block title %}Test Preparation{% endblock %}

{% block content %}
<div class="container">
  <img src="{% static 'image/leadship.png' %}" alt="Smiley face" height="500px" style="border-style: solid; border-color: gray;"  width="100%%">
  <br />
  <div class="row">
    <div class="col-md-6" style="margin-top:30px">
      <h4 style="color:blue">Test Preparation</h4>
      <p style="font-size:16px; text-align: justify;">describe this progrm</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5" style="margin-top:30px">
      <form method="POST">
        <div class="text-center">
        <h4>Get Start today!</h4>
        </div>
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
          <div class='col-sm-4 myspace'>{{ field.label_tag }}</div>
          <div class="col-sm-6 myspace">{{ field }}</div>
          <div class="col-sm-2 myspace"></div>
        </div>
        {% endfor %}
        <div class="text-center", style="padding-top: 10px;">
           <input type = "submit" class="btn btn-info" value="Register Now" />
        </div>
      </form>    
    </div>
  </div>
</div>
{% endblock %}