{% extends 'base.html' %}
{% load static %}
{% block title %}Volunteer{% endblock %}

{% block content %}
<div class="container">
  <div style="width:100%%">
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-6" style="margin-top:0px">
          <h1>LEADERSHIP IN ACTION</h1>
          <p style="font-style:italic">Volunteering is one of the best ways to involve communities and learn from the real world. For students, we provide variety volunteer opportunities including tutoring in lower graders with homework, joining our events for helping, and working in your own STEM-Leadership project team.
            For professionals, parents or enthusiasms, what you are good at will help our students make progress in their classes and programs.
          </p>
          <p style="font-style:italic">StemPro believes that helping each other is one of the most valuable parts of our life for human beings. Let's build a warm, effective and interesting platform together!</p>

          <h4>HIGH SCHOOLERS</h4>
          <h4>PROFESSIONALS</h4>
          <h4>PARENTS</h4>
        </div>
        <div class="col-sm-6">
        <img src="{% static 'image/volunteering.png' %}" alt="Smiley face" height="400px" width="100%%">
        </div>        
    </div>
  </div>
</div>
{% endblock %}